@charset "utf-8";

@font-face {
  font-family: 'Noto Sans Mono KR';
  src: local(Noto Sans Mono CJK KR),
      local(NotoSansMonoCJKkr-Regular),
      url(NotoSansMonoCJKkr-Regular.woff2) format('woff2'),
      url(NotoSansMonoCJKkr-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Mono KR';
  src: local(Noto Sans Mono CJK KR),
      local(NotoSansMonoCJKkr-Bold),
      url(NotoSansMonoCJKkr-Bold.woff2) format('woff2'),
      url(NotoSansMonoCJKkr-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
