.pagination {
  text-align: center;

  &__list {
    margin: 0;
  }

  &__item {
    display: inline-block;
    list-style: none;
  }

  &__button {
    min-width: 40px;

    &:disabled {
      @include mdc-theme-prop(fill, text-disabled-on-background);
    }
  }
}
