@import "@material/animation/functions";
@import "@material/theme/color-palette";
@import "@material/theme/mixins";
@import "@material/typography/mixins";

$divider-color: if(
  mdc-theme-tone($mdc-theme-background) == "dark",
  $mdc-list-divider-color-on-dark-bg,
  $mdc-list-divider-color-on-light-bg
);

.post {
  padding: 0 1.5rem;

  &-header {
    padding: 1.5rem 0;
    border-bottom: 1px solid $divider-color;

    &__title {
      @extend .page__title;
      margin: 0;
    }

    &__content {
      margin-top: 0.5rem;
      @include mdc-theme-prop(color, text-secondary-on-background);
      text-align: center;
    }

    &__time {
      display: inline-flex;
      align-items: center;
      margin: 0.2rem;
      @include mdc-theme-prop(fill, text-secondary-on-background);

      svg {
        padding-right: 2px;
      }
    }
  }

  &-footer {
    padding: 0.5rem 0;
    border-top: 1px solid $divider-color;

    &-label {
      display: flex;
      align-items: center;

      &__title {
        display: inline-flex;
        align-items: center;

        svg {
          margin-right: 0.2rem;
        }
      }

      &__chip {
        border-radius: 4px;
      }
    }
  }

  &-comment {
    margin: 1rem;
    padding: 1rem;

    .utterances {
      max-width: unset;
    }
  }

  &-fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;

    @media (min-width: 1024px) {
      right: 1.5rem;
      bottom: 1.5rem;
    }

    &__icon--rotated {
      transform: rotate(180deg);
    }
  }

  &-card {
    margin: 2rem 0;

    &__primary {
      padding: 1.5rem 2rem;
    }

    &__title {
      margin: 0.1rem 0 0.2rem;
      @include mdc-theme-prop(color, secondary);
    }

    &__subtitle {
      @include mdc-theme-prop(color, text-primary-on-background);
    }

    &__divider {
      width: 40%;
      margin: 0.4rem 0;
    }

    &__content {
      @include mdc-theme-prop(color, text-secondary-on-background);
    }
  }

  &__content {
    margin-top: 1.5rem;

    h1 {
      @include mdc-typography(headline3);
    }

    h2 {
      @include mdc-typography(headline4);
    }

    h3 {
      @include mdc-typography(headline5);
    }

    h4 {
      @include mdc-typography(headline6);
    }

    h5 {
      @include mdc-typography(subtitle1);
    }

    h6 {
      @include mdc-typography(subtitle2);
    }

    a {
      border-bottom: 0.15rem solid transparent;
      @include mdc-theme-prop(color, secondary);
      text-decoration: none;
      transition: mdc-animation-enter(border, 100ms);

      &:hover {
        border-bottom-color: unset;
      }
    }

    blockquote {
      margin: 0;
      padding: 0 1rem;
      border-left: 0.25rem solid $material-color-deep-purple-200;
      @include mdc-theme-prop(color, text-secondary-on-background);
    }

    code {
      font-family: "Nanum Gothic Coding", monospace;
    }

    em {
      @include mdc-theme-prop(color, text-secondary-on-background);
    }

    figure {
      margin: 0;
    }

    hr {
      margin: 1rem 0;
      border-color: $material-color-grey-50;
    }

    pre {
      padding: 1rem;
    }

    table:not(.rouge-table) {
      margin: 1rem auto;
      border-collapse: collapse;

      tr:nth-child(even) {
        @include mdc-theme-prop(background-color, $material-color-grey-100);
      }

      th,
      td {
        padding: 0.5rem 1rem;
      }

      th {
        border: 1px solid $material-color-grey-200;
        @include mdc-theme-prop(background-color, secondary);
        @include mdc-theme-prop(color, on-secondary);
      }

      td {
        border: 1px solid $material-color-grey-200;
      }
    }

    .highlighter-rouge {
      background-color: $material-color-deep-purple-50;
      color: $material-color-deep-purple-500;
    }

    .rouge-table {
      margin: 0;
      border: 0;
      border-collapse: collapse;

      .lineno {
        margin: 0;
      }

      .code,
      .code pre {
        margin: 0;
        padding: 0;
      }
    }

    .footnotes {
      margin-top: 2rem;
      border-top: 1px solid $divider-color;
      color: mdc-theme-accessible-ink-color(background, hint);
    }
  }
}
